table{size: 1em;}
caption{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
th{
    font-size: 18px;
    background-color: rgb(192, 231, 255);
    border: 1px solid rgb(0, 0, 0);
}
tr{
    vertical-align: top;
    word-wrap: break-word;
    justify-content: center;
}
tr:hover{
    background-color: rgb(192, 231, 255);
}
tr:first-child td{
    border-top: 3px solid rgb(0,0,0)
}
tr:last-child td{
    border-bottom: 3px solid rgb(0, 0, 0);
}
input, textarea, select{
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}
label{
    font-weight: bold;
}
body{
    padding-left: 2em;
    padding-right: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
